html {
  font-size: 16px;
}
@import url('https://fonts.googleapis.com/css2?family=Protest+Riot&display=swap');

body{
  font-family: 'Protest Riot', sans-serif !important;
}

*{
  font-family: 'Protest Riot', sans-serif !important;
}
/* @media screen and (max-width: 991px) {
  html{
    font-size: 95%;
  }
  
}
@media screen and (max-width: 767px) {
  html{
    font-size: 90%;
  }
}
@media screen and (max-width: 600px) {
  html{
    font-size: 85%;
  }
 
} */

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.relation-container{
  margin : 1rem;
}


.upload-button{
  border: '1px solid #ccc';
  display: 'inline-block';
  padding: '0.5rem';
  cursor: 'pointer';
  border-radius:'0.3rem';
  border:'none';
}

.upload-button:hover{
  color:'red';
  background-color: 'red';
}

/* width
::-webkit-scrollbar {
  width: 0.5rem;
}

/* Track */
/* ::-webkit-scrollbar-track {
  background: #f1f1f1; 
} */
 
/* Handle */
/* ::-webkit-scrollbar-thumb {
  background: #888; 
} */

/* Handle on hover */
/* ::-webkit-scrollbar-thumb:hover {
  background: #555; 
} */ 

/* .slide-parent{
  overflow: hidden;
}

.slide-in{
  animation-name: slideIn;
  animation-duration: 0.1s;
  
  transition: all 2s;
}

.slide-out{
  animation-name: slideOut;
  animation-duration: 0.1s;
  
  transition: all 2s;
}

@keyframes slideIn {
  0%{
    opacity: 0;
    transform: translateX(50rem);
  }

  100%{
    opacity: 1;
    transform: translateX(0px);
  }
  
}

@keyframes slideOut {
  0%{
    opacity: 1;
    transform: translateX(0px);
  }

  100%{
    opacity: 0;
    transform: translateX(-50rem);
  }
  
} */


/** Wallet Dashboard Page **/
.dashboard-box{
  max-width:30rem;
  width:100%;
  padding:1rem;
  padding-bottom: 0;
}

.dashboard-card{
  background-color:black;
  width:100%;
  height:100%;
  padding:0.5rem;
}

